<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- script
    <!-- <script src="https://unpkg.com/gojs/release/go-debug.js"></script>
    <script src="/static/js/jquery-1.9.1.js"></script>
    <script src="/static/js/jquery-ui.js"></script>
    <script src="/static/js/mdui.min.js"></script> -->

    <!-- css -->
    <!-- <link rel="stylesheet" href="/static/css/mystyle.css">
    <link rel="stylesheet" href="/static/css/jquery-ui.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/mdui.min.css"> -->
    <!-- script -->
    <script src="https://unpkg.com/gojs/release/go-debug.js"></script>
    <script src="/static/js/jquery-1.9.1.js"></script>
    <script src="/static/js/jquery-ui.js"></script>
    <script src="/static/js/mdui.min.js"></script>

    <!-- css -->
    <link rel="stylesheet" href="/static/css/Mystyle.css">
    <link rel="stylesheet" href="/static/css/jquery-ui.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/mdui.min.css">

</head>

<body>


    <!-- the initial page -->
    <div id="initial">


        <div class="tab">
            <button class="tablinks" onclick="openDiv(event, 'diagram')" id="defaultOpen">Canvas</button>
            <button class="tablinks" onclick="openDiv(event, 'intent')">Intent Registration</button>
            <button class="tablinks" onclick="openDiv(event, 'test')">Test</button>
        </div>


        <!-- canvas div -->
        <div id="diagram" class="tabcontent" style="background-color: #dae4e4;float: left;">
        </div>

    </div>

    <!-- form div -->
    <div id="base-form" class="basediv" style="display:none;">
        <form id="atom-form" action="##" method="POST">

            <div class="mdui-tab mdui-tab-full-width" mdui-tab>
                <a href="#tab0" class="mdui-ripple">Name</a>
                <a href="#tab1" class="mdui-ripple">Global Variable</a>
                <a href="#tab2" class="mdui-ripple">Local Variable</a>
                <a href="#tab4" class="mdui-ripple">Logic</a>

            </div>
            <div id="tab0">
                <label for="name">Name:</label>
                <input type="text" id="tab0name" />
            </div>
            <div id="tab1">
                <table id="table1">
                    <caption>Global Variable Table</caption>
                    <thead>
                        <tr>
                            <th>Variable</th>
                            <th>Value</th>
                        </tr>
                    </thead>
                    <tbody id="tb">
                        <tr id="#">
                            <td><input type="text" name="Variable" /></td>
                            <td><input type="text" name="Value" /></td>
                            <td><input type="button" value="delete" onclick="Del1(this)"></td>

                        </tr>
                    </tbody>


                </table>
                <input type="button" value="add" onclick="Add1(this)">
            </div>
            <div id="tab2">
                <table id="table2">
                    <caption>Local Variable Table</caption>
                    <thead>
                        <tr>
                            <th>Variable</th>
                            <th>Value</th>

                        </tr>
                    </thead>
                    <tbody id="tb2">
                        <tr id="##">
                            <td><input type="text" name="Variable" /></td>
                            <td><input type="text" name="Value" /></td>
                            <td><input type="button" value="delete" onclick="Del2(this)"></td>

                        </tr>
                    </tbody>


                </table>
                <input type="button" value="add" onclick="Add2(this)">
            </div>

            <div id="tab4">
                <table id="table4">
                    <caption>Logic Table</caption>
                    <thead>
                        <tr>
                            <th>Priority</th>
                            <th>Condition</th>
                            <th>Operation</th>
                            <th>NextState</th>
                            <th>Action</th>

                        </tr>
                    </thead>
                    <tbody id="tb4">
                        <tr id="####">
                            <td><input type="text" name="Priority" /></td>
                            <td><input type="text" name="Condition" /></td>
                            <td><input type="text" name="Operation" /></td>
                            <td><input type="text" name="NextState" /></td>
                            <td><input type="text" name="Action" /></td>
                            <td><input type="button" value="delete" onclick="Del4(this)"></td>

                        </tr>
                    </tbody>


                </table>
                <input type="button" value="add" onclick="Add4(this)">
            </div>

            <input type="button" value="Submit" onclick="sendData()">
        </form>
    </div>


    <div id="popLayer"></div>

    <script type="text/javascript">
        function popBox() {
            var popBox = document.getElementById('base-form');
            var popLayer = document.getElementById('popLayer');

            popLayer.style.width = "100%";
            popLayer.style.height = "100%";

            popLayer.style.display = "block";
            popBox.style.display = "block";
        }//end func popBox()

        function closeBox() {
            var popBox = document.getElementById('base-form');
            var popLayer = document.getElementById('popLayer');

            popLayer.style.display = "none";
            popBox.style.display = "none";

        }//end func closeBox()

    </script>
    <!-- for tab button -->
    <script>
        function openDiv(evt, divName) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(divName).style.display = "block";
            evt.currentTarget.className += " active";
        }
        // Get the element with id="defaultOpen" and click on it
        document.getElementById("defaultOpen").click();
    </script>




    <script>
        var $$ = go.GraphObject.make;
        var myDiagram =
            $$(go.Diagram, "diagram",
                {
                    "undoManager.isEnabled": true,
                    allowRelink: false,

                });

        var myModel = $$(go.GraphLinksModel);


        myDiagram.linkTemplate =
            $$(go.Link,
                {
                    routing: go.Link.AvoidsNodes,
                    curve: go.Link.Bezier
                },  // link route should avoid nodes
                $$(go.Shape),
                $$(go.Shape, { toArrow: "Standard" })
            );

        // helper definitions for node templates
        function nodeStyle() {
            return [
                // The Node.location comes from the "loc" property of the node data,
                // converted by the Point.parse static method.
                // If the Node.location is changed, it updates the "loc" property of the node data,
                // converting back using the Point.stringify static method.
                new go.Binding("location", "loc", go.Point.parse).makeTwoWay(go.Point.stringify),
                {
                    // the Node.location is at the center of each node
                    locationSpot: go.Spot.Center
                }
            ];
        }


        function textStyle() {
            return {
                font: "bold 11pt Helvetica, Arial, sans-serif",
                stroke: "whitesmoke"
            }
        }



        function editStart(e, obj) {
            myDiagram.commit(function (d) {
                // get the context menu that holds the button that was clicked
                var contextmenu = obj.part;
                // get the node data to which the Node is data bound
                var nodedata = contextmenu.data;
                curNode = nodedata.key;
                curNodeType = nodedata.category;
                // alert(curNode);
                // document.getElementById("base-form").style.display = "block";
                popBox();
                // send request to search on the database
                $.ajax({
                    type: "POST",
                    dataType: "json",
                    url: "database/search",
                    data: {},
                    success: function (result) {
                        console.log(result);
                        if (result.resultCode == 200) {
                            alert("SUCCESS");
                        }
                        ;
                    },
                });

                // get the result from the database
                $.ajax({
                    type: "GET",
                    dataType: "json",
                    url: "database/search",
                    data: { "nodeID": curNode },
                    dataType: 'json',
                    success: function (data) {
                        makeNode(data);
                    },
                });



            }, "Edit");
        }

        function makeNode(data) {
            let data1 = data['global'];
            let data2 = data['local'];
            let data4 = data['logic'];

            let ele1 = document.getElementById('tb');
            let ele2 = document.getElementById('tb2');
            let ele4 = document.getElementById('tb4');

            ele1.innerHTML = '';
            ele2.innerHTML = '';
            ele4.innerHTML = '';
            if ('name' in data) {
                document.getElementById('tab0name').value = data['name'];
            }
            else document.getElementById('tab0name').value = "";

            for (var i = 0; i < data1.length; i++) {
                let trObj = document.createElement("tr");
                trObj.id = new Date().getTime();
                item = data1[i];
                trObj.innerHTML = '<td><input type="text" name="Variable" value="' + item['Variable'] + '"/></td>' +
                    '<td><input type="text" name="Value" value="' + item['Value'] + '"/></td>' +
                    '<td><input type="button" value="delete" onclick="Del1(this)"></td>';
                ele1.appendChild(trObj);
            }

            for (var i = 0; i < data2.length; i++) {
                let trObj = document.createElement("tr");
                trObj.id = new Date().getTime() + 1;
                item = data2[i];
                trObj.innerHTML = '<td><input type="text" name="Variable" value="' + item['Variable'] + '"/></td>' +
                    '<td><input type="text" name="Value" value="' + item['Value'] + '"/></td>' +
                    '<td><input type="button" value="delete" onclick="Del2(this)"></td>';
                ele2.appendChild(trObj);
            }



            for (var i = 0; i < data4.length; i++) {
                let trObj = document.createElement("tr");
                trObj.id = new Date().getTime() + 3;
                item = data4[i];
                trObj.innerHTML = '<td><input type="text" name="Priority" value="' + item['Priority'] + '"/></td>' +
                    '<td><input type="text" name="Condition" value="' + item['Condition'] + '"/></td>' +
                    '<td><input type="text" name="Operation" value="' + item['Operation'] + '"/></td>' +
                    '<td><input type="text" name="NextState" value="' + item['NextState'] + '"/></td>' +
                    '<td><input type="text" name="Action" value="' + item['Action'] + '"/></td>' +
                    '<td><input type="button" value="delete" onclick="Del4(this)"></td>';
                ele4.appendChild(trObj);
            }
        }


        // start node
        myDiagram.nodeTemplateMap.add("Start",
            $$(go.Node, "Table", nodeStyle(),
                $$(go.Panel, "Auto",
                    $$(go.Shape, "Circle",
                        { minSize: new go.Size(40, 40), fill: "#79C900", strokeWidth: 0 }),
                    $$(go.Panel, "Vertical",
                        $$(go.TextBlock, "Start", textStyle(),
                            new go.Binding("text", "type")),
                        $$(go.TextBlock, "0", textStyle(),
                            new go.Binding("text", "ID")),
                    ),


                ),
                {
                    contextMenu:     // define a context menu for each node
                        $$("ContextMenu",  // that has one button
                            $$("ContextMenuButton",
                                $$(go.TextBlock, "Edit"),
                                { click: editStart })
                            // more ContextMenuButtons would go here
                        )  // end Adornment
                }

            ));


        // end node
        myDiagram.nodeTemplateMap.add("End",
            $$(go.Node, "Table", nodeStyle(),
                $$(go.Panel, "Auto",
                    $$(go.Shape, "Circle",
                        { minSize: new go.Size(40, 40), fill: "#DC3C00", strokeWidth: 0 }),
                    $$(go.Panel, "Vertical",
                        $$(go.TextBlock, "End", textStyle(),
                            new go.Binding("text", "type")),
                        $$(go.TextBlock, "0", textStyle(),
                            new go.Binding("text", "ID")),
                    ),
                ),
                // {
                //     contextMenu:     // define a context menu for each node
                //         $$("ContextMenu",  // that has one button
                //             $$("ContextMenuButton",
                //                 $$(go.TextBlock, "Edit"),
                //                 { click: editStart })
                //             // more ContextMenuButtons would go here
                //         )  // end Adornment
                // }
            ));



        // slot node

        myDiagram.nodeTemplateMap.add("Slot",
            $$(go.Node, "Table", nodeStyle(),
                // the main object is a Panel that surrounds a TextBlock with a rectangular Shape
                $$(go.Panel, "Auto",
                    $$(go.Shape, "Diamond",
                        { fill: "#00A9C9", strokeWidth: 0 },
                        new go.Binding("figure", "figure")),
                    $$(go.Panel, "Vertical",
                        $$(go.TextBlock, "Slot", textStyle(),
                            {
                                margin: 8,
                                maxSize: new go.Size(160, NaN),
                                wrap: go.TextBlock.WrapFit,
                                editable: true
                            },
                            new go.Binding("text", "type").makeTwoWay()),
                        $$(go.TextBlock, "0", textStyle(),
                            new go.Binding("text", "ID")),
                    )
                ),
                {
                    contextMenu:     // define a context menu for each node
                        $$("ContextMenu",  // that has one button
                            $$("ContextMenuButton",
                                $$(go.TextBlock, "Edit"),
                                { click: editStart })
                            // more ContextMenuButtons would go here
                        )  // end Adornment
                }
            ));

        // general node
        myDiagram.nodeTemplateMap.add("General",
            $$(go.Node, "Table", nodeStyle(),
                // the main object is a Panel that surrounds a TextBlock with a rectangular Shape
                $$(go.Panel, "Auto",
                    $$(go.Shape, "Rectangle",
                        { fill: "#00A9C9", strokeWidth: 0 },
                        new go.Binding("figure", "figure")),
                    $$(go.Panel, "Vertical",
                        $$(go.TextBlock, "General", textStyle(),
                            {
                                margin: 8,
                                maxSize: new go.Size(160, NaN),
                                wrap: go.TextBlock.WrapFit,
                                editable: true
                            },
                            new go.Binding("text", "type").makeTwoWay()),
                        $$(go.TextBlock, "0", textStyle(),
                            new go.Binding("text", "ID")),
                    )
                ),
                {
                    contextMenu:     // define a context menu for each node
                        $$("ContextMenu",  // that has one button
                            $$("ContextMenuButton",
                                $$(go.TextBlock, "Edit"),
                                { click: editStart })
                            // more ContextMenuButtons would go here
                        )  // end Adornment
                }
            ));



        var atomID = 0;
        // return type node
        function nodeType(type) {
            return function (e, obj) {
                e.diagram.commit(function (d) {
                    var data = {
                        key: String(atomID),
                        ID: "ID:" + String(atomID),
                        category: type,
                    };
                    linkRecord[String(atomID)] = new Array();
                    atomID++;
                    d.model.addNodeData(data);
                    part = d.findPartForData(data);  // must be same data reference, not a new {}
                    // set location to saved mouseDownPoint in ContextMenuTool
                    part.location = d.toolManager.contextMenuTool.mouseDownPoint;

                }, 'new node');
            }
        }

        // define a context menu for the diagram's background
        myDiagram.contextMenu =
            $$("ContextMenu",
                // no binding, always visible button:
                $$("ContextMenuButton",
                    $$(go.TextBlock, "Start"),
                    {
                        click: nodeType("Start")
                    }),
                $$("ContextMenuButton",
                    $$(go.TextBlock, "End"),
                    {
                        click: nodeType("End")
                    }),
                $$("ContextMenuButton",
                    $$(go.TextBlock, "General"),
                    {
                        click: nodeType("General")
                    }),
                $$("ContextMenuButton",
                    $$(go.TextBlock, "Slot"),
                    {
                        click: nodeType("Slot")
                    }),

            );
        var curNode;
        var curNodeType;
        var linkRecord = {};
        // in the model data, each node is represented by a JavaScript object:
        // myModel.nodeDataArray =
        //     [ // note that each node data object holds whatever properties it needs;
        //         // for this app we add the "name" and "source" properties
        //         { key: "0", ID: "ID:0", type: "Start", category: "Start" },
        //         { key: "1", ID: "ID:1", type: "End", category: "End" },
        //         { key: "2", ID: "ID:2", type: "Slot", category: "Slot" },
        //         { key: "3", ID: "ID:3", type: "General", category: "General" },

        //     ];



        myDiagram.model = myModel;

    </script>












    <script>
        function Del1(obj) {
            var trID = obj.parentNode.parentNode.id;
            var trObj = document.getElementById(trID);
            document.getElementById("tb").removeChild(trObj);
        }


        function Add1() {
            var tbObj = document.getElementById("tb");
            var trObj = document.createElement("tr");
            trObj.id = new Date().getTime();
            trObj.innerHTML = '<td><input type="text" name="Variable"/></td>\
                            <td><input type="text" name="Value"/></td>\
                            <td><input type="button" value="delete" onclick="Del1(this)"></td>'
            tbObj.appendChild(trObj);
        }

        function Del2(obj) {
            var trID = obj.parentNode.parentNode.id;
            var trObj = document.getElementById(trID);
            document.getElementById("tb2").removeChild(trObj);
        }


        function Add2() {
            var tbObj = document.getElementById("tb2");
            var trObj = document.createElement("tr");
            trObj.id = new Date().getTime();
            trObj.innerHTML = '<td><input type="text" name="Variable" /></td>\
                            <td><input type="text" name="Value" /></td>\
                            <td><input type="button" value="delete" onclick="Del2(this)"></td>'
            tbObj.appendChild(trObj);
        }



        function Del4(obj) {
            var trID = obj.parentNode.parentNode.id;
            var trObj = document.getElementById(trID);
            document.getElementById("tb4").removeChild(trObj);
        }


        function Add4() {
            var tbObj = document.getElementById("tb4");
            var trObj = document.createElement("tr");
            trObj.id = new Date().getTime();
            trObj.innerHTML = '<td><input type="text" name="Priority" /></td>\
                            <td><input type="text" name="Condition" /></td>\
                            <td><input type="text" name="Operation" /></td>\
                            <td><input type="text" name="NextState" /></td>\
                            <td><input type="text" name="Action" /></td>\
                            <td><input type="button" value="delete" onclick="Del4(this)"></td>'
            tbObj.appendChild(trObj);
        }

        function sendData() {
            closeBox();

            let curName;

            curName = document.getElementById("tab0name").value;


            var tab1_Objects = [];
            $('#tb tr').each(function (index, item) {
                var $item = $(item);
                tab1_Objects.push({
                    Variable: $item.find("td input[name='Variable']").val(),
                    Value: $item.find("td input[name='Value']").val(),
                });
            }
            );

            var tab2_Objects = [];
            $('#tb2 tr').each(function (index, item) {
                let $item = $(item);
                tab2_Objects.push({
                    Variable: $item.find("td input[name='Variable']").val(),
                    Value: $item.find("td input[name='Value']").val(),
                });
            }
            );


            var tab4_Objects = [];
            $('#tb4 tr').each(function (index, item) {
                let $item = $(item);
                tab4_Objects.push({
                    Priority: $item.find("td input[name='Priority']").val(),
                    Condition: $item.find("td input[name='Condition']").val(),
                    Operation: $item.find("td input[name='Operation']").val(),
                    NextState: $item.find("td input[name='NextState']").val(),
                    Action: $item.find("td input[name='Action']").val(),
                });
            }
            );

            $.ajax({
                type: "POST",
                dataType: "json",
                url: "main/form",
                data: {
                    'data': JSON.stringify({
                        'nodeID': curNode,
                        'Name': curName,
                        'nodeType': curNodeType,
                        'global': tab1_Objects,
                        'local': tab2_Objects,
                        'logic': tab4_Objects
                    })
                },
                success: function (result) {
                    console.log(result);
                    if (result.resultCode == 200) {
                        alert("SUCCESS");
                    }
                    ;
                },
            });
            document.getElementById('base-form').style.display = 'none';

            tab4_Objects.forEach(function (item) {
                let link = {
                    "from": curNode,
                    "to": item["NextState"],
                };

                var nodeStart = myDiagram.findNodeForKey(link["from"]);
                var nodeEnd = myDiagram.findNodeForKey(link["to"]);

                if (nodeEnd == null) {

                    let tmp = linkRecord[link['from']].indexOf(link['to']);
                    if (tmp == -1) {
                        myModel.addLinkData(link);
                        linkRecord[link['from']].push(link['to']);
                    }

                }
                else {
                    var res;
                    res = nodeStart.findLinksTo(nodeEnd);
                    if (res.count == 0) {
                        myDiagram.model.addLinkData(link);
                    }
                }
                // myDiagram.startTransaction("make new link");
                // myDiagram.model.addLinkData(link);
                // myDiagram.commitTransaction("make new link");

            });

        }
    </script>

</body>

</html>