<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- script
    <!-- <script src="https://unpkg.com/gojs/release/go-debug.js"></script>
    <script src="/static/js/jquery-1.9.1.js"></script>
    <script src="/static/js/jquery-ui.js"></script>
    <script src="/static/js/mdui.min.js"></script> -->

    <!-- css -->
    <!-- <link rel="stylesheet" href="/static/css/mystyle.css">
    <link rel="stylesheet" href="/static/css/jquery-ui.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/mdui.min.css"> -->
    <!-- script -->
    <script src="https://unpkg.com/gojs/release/go-debug.js"></script>
    <script src="/static/js/jquery-1.9.1.js"></script>
    <script src="/static/js/jquery-ui.js"></script>
    <script src="/static/js/mdui.min.js"></script>

    <!-- css -->
    <link rel="stylesheet" href="/static/css/Mystyle.css">
    <link rel="stylesheet" href="/static/css/jquery-ui.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/icons.css">
    <link rel="stylesheet" href="/static/css/mdui.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



    <!-- Favicon -->
    <link rel="icon" href="/static/images/favicon.png" type="image/x-icon" />
    <!-- Bootstrap CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <!-- Animate CSS -->
    <link href="/static/vendors/animate/animate.css" rel="stylesheet">
    <!-- Icon CSS-->
    <link rel="stylesheet" href="/static/vendors/font-awesome/css/font-awesome.min.css">
    <!-- Camera Slider -->
    <link rel="stylesheet" href="/static/vendors/camera-slider/camera.css">
    <!-- Owlcarousel CSS-->
    <link rel="stylesheet" type="text/css" href="/static/vendors/owl_carousel/owl.carousel.css" media="all">

    <!--Theme Styles CSS-->
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" media="all" />

    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.min.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
    <style type="text/css">
        .talk_con {
            width: 600px;
            height: 500px;
            border: 1px solid #666;
            margin: 50px auto 0;
            background: #f9f9f9;
        }

        .talk_show {
            width: 580px;
            height: 420px;
            border: 1px solid #666;
            background: #fff;
            margin: 10px auto 0;
            overflow: auto;
        }

        .talk_input {
            width: 580px;
            margin: 10px auto 0;
        }

        .whotalk {
            width: 80px;
            height: 30px;
            float: left;
            outline: none;
        }

        .talk_word {
            width: 420px;
            height: 26px;
            padding: 0px;
            float: left;
            margin-left: 10px;
            outline: none;
            text-indent: 10px;
        }

        .talk_sub {
            /* width: 56px;
            height: 30px;
            float: left; */
            margin-left: 20px;
        }

        .atalk {
            margin: 10px;
        }

        .atalk span {
            display: inline-block;
            background: #0181cc;
            border-radius: 10px;
            color: #fff;
            padding: 5px 10px;
        }

        .btalk {
            margin: 10px;
            text-align: right;
        }

        .btalk span {
            display: inline-block;
            background: #ef8201;
            border-radius: 10px;
            color: #fff;
            padding: 5px 10px;
        }
    </style>

</head>

<body>
    <script type="text/javascript">
        // 
        window.onload = function () {
            var Words = document.getElementById("words");
            var TalkWords = document.getElementById("talkwords");
            var TalkSub = document.getElementById("talksub");


            TalkSub.onclick = function () {
                //定义空字符串
                var str = "";
                if (TalkWords.value == "") {
                    // 消息为空时弹窗
                    alert("消息不能为空");
                    return;
                }

                str = '<div class="btalk"><span>' + TalkWords.value + '</span></div>';
                Words.innerHTML = Words.innerHTML + str;

                $.ajax({
                    type: "POST",
                    dataType: "json",
                    url: "/main/chat",
                    data: {
                        'data': JSON.stringify(TalkWords.value)
                    },
                    success: function (result) {
                        console.log(result);
                        if (result.resultCode == 200) {
                            alert("SUCCESS");
                        }
                        ;
                    },
                });
                TalkWords.value = "";

                $.ajax({
                    type: "GET",
                    dataType: "json",
                    url: "/main/chat",
                    success: function (data) {
                        str = '<div class="atalk"><span>' + data + '</span></div>';
                        Words.innerHTML = Words.innerHTML + str;
                        Words.scrollTop = Words.scrollHeight;
                    },
                });

            }

        }

        function Click() {
            var Words = document.getElementById("words");
            var TalkWords = document.getElementById("talkwords");
            var TalkSub = document.getElementById("talksub");
            var str = "";
            if (TalkWords.value == "") {
                // 消息为空时弹窗
                alert("消息不能为空");
                return;
            }

            str = '<div class="btalk"><span>' + TalkWords.value + '</span></div>';
            Words.innerHTML = Words.innerHTML + str;

            $.ajax({
                type: "POST",
                dataType: "json",
                url: "/main/chat",
                data: {
                    'data': JSON.stringify(TalkWords.value)
                },
                success: function (result) {
                    console.log(result);
                    if (result.resultCode == 200) {
                        alert("SUCCESS");
                    }
                    ;
                },
            });
            TalkWords.value = "";

            $.ajax({
                type: "GET",
                dataType: "json",
                url: "/main/chat",
                success: function (data) {
                    str = '<div class="atalk"><span>' + data + '</span></div>';
                    Words.innerHTML = Words.innerHTML + str;
                    Words.scrollTop = Words.scrollHeight;
                },
            });

        }

    </script>

    <!-- the initial page -->
    <div id="initial">

        <!-- Header_Area -->
        <nav class="navbar navbar-default header_aera" id="main_navbar">
            <div class="container">
                <!-- searchForm -->
                <!-- <div class="searchForm">
                <form action="#" class="row m0">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                        <input type="search" name="search" class="form-control" placeholder="Type & Hit Enter">
                        <span class="input-group-addon form_hide"><i class="fa fa-times"></i></span>
                    </div>
                </form>
            </div>End searchForm -->
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="col-md-2 p0">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#min_navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="index.html"><img src="/static/images/logo.png" alt=""></a>
                    </div>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="col-md-10 p0">
                    <div class="collapse navbar-collapse" id="min_navbar">
                        <ul class="nav navbar-nav navbar-right">


                            <li><a class="tablinks" onclick="openDiv(event, 'diagram')" id="defaultOpen">Canvas</a>
                            </li>
                            <li><a class="tablinks" onclick="openDiv(event, 'test')">Test</a></li>
                            <li> <a class="tablinks" onclick="openDiv(event, 'import')">Import Node</a></li>



                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div>
            </div><!-- /.container -->
        </nav>
        <!-- End Header_Area -->




        <!-- canvas div -->
        <div style="margin-left: 85%; position: absolute; margin-top: 40%;"><input type="button" value="Compile"
                class="button blue bigrounded" onclick="compile()"></div>
        <div id="diagram" class="tabcontent">

        </div>

        <script>
            function compile() {
                $.ajax({
                    type: "GET",
                    dataType: "json",
                    url: "/main/compile",
                    data: {
                        'data': "compile"
                    },
                    
                });
            }
        </script>
        <div id="test" class="tabcontent">
            <div class="talk_con ">
                <div class="talk_show" id="words">
                    <!-- <div class="atalk"><span id="asay">吃饭了吗？</span></div>
                    <div class="btalk"><span id="bsay">还没呢，你呢？</span></div> -->
                </div>
                <div class="talk_input">
                    <input type="text" class="talk_word" id="talkwords" onkeyup=" if(event.keyCode==13) {Click(); }">
                    <input type="button" value="send" class="talk_sub button blue bigrounded" id="talksub">
                </div>

            </div>
            <script>
                function send1(words) {
                    var Words = document.getElementById("words");
                    var TalkWords = document.getElementById("talkwords");
                    var TalkSub = document.getElementById("talksub");
                    var str = "";


                    str = '<div class="btalk"><span>' + words + '</span></div>';
                    Words.innerHTML = Words.innerHTML + str;

                    $.ajax({
                        type: "POST",
                        dataType: "json",
                        url: "/main/chat",
                        data: {
                            'data': JSON.stringify(words)
                        },
                        success: function (result) {
                            console.log(result);
                            if (result.resultCode == 200) {
                                alert("SUCCESS");
                            }
                            ;
                        },
                    });


                    $.ajax({
                        type: "GET",
                        dataType: "json",
                        url: "/main/chat",
                        success: function (data) {
                            str = '<div class="atalk"><span>' + data + '</span></div>';
                            Words.innerHTML = Words.innerHTML + str;
                            Words.scrollTop = Words.scrollHeight;
                        },
                    });

                }


                function send2() {
                    var Words = document.getElementById("words");
                    var TalkWords = document.getElementById("talkwords");
                    var TalkSub = document.getElementById("talksub");
                    var str = "";

                    let fruit_type = document.getElementById('fruit').value;
                    let weight = document.getElementById("weight").value;
                    let unit_price = document.getElementById("unit_price").value;
                    let words = "";
                    if (fruit_type != "") words += "buy(fruit_type=" + fruit_type;
                    if (weight != "") words += ",weight=" + weight;
                    if (unit_price != "") words += ",unit_price=" + unit_price
                    words += ")"
                    str = '<div class="btalk"><span>' + words + '</span></div>';
                    Words.innerHTML = Words.innerHTML + str;

                    $.ajax({
                        type: "POST",
                        dataType: "json",
                        url: "/main/chat",
                        data: {
                            'data': JSON.stringify(words)
                        },
                        success: function (result) {
                            console.log(result);
                            if (result.resultCode == 200) {
                                alert("SUCCESS");
                            }
                            ;
                        },
                    });


                    $.ajax({
                        type: "GET",
                        dataType: "json",
                        url: "/main/chat",
                        success: function (data) {
                            str = '<div class="atalk"><span>' + data + '</span></div>';
                            Words.innerHTML = Words.innerHTML + str;
                            Words.scrollTop = Words.scrollHeight;
                        },
                    });

                }
            </script>
            <!-- <a href="#" class="button blue bigrounded" onclick="send1('buy(type=fruit)')">buy fruit</a>
            <form id="fruit_form" action="###">
                <label for="fruit">Fruit:</label>
                <input type="text" id="fruit" name="fruit">
                <label for="weight">Weight:</label>
                <input type="text" id="weight" name="weight">
                <label for="unit_price">Unit Price:</label>
                <input type="text" id="unit_price" name="unit price">

                <button type="button" class="button blue bigrounded" onclick="send2()">select</button>
            </form>
            <a href="#" class="button blue bigrounded" onclick="send1('pay(state=True)')">pay</a> -->
            <!-- <a href="#" class="button blue bigrounded">3</a>
            <a href="#" class="button blue bigrounded">4</a> -->


        </div>



        <div id='import' class="tabcontent" style="position: absolute; margin-left: 10%;">
            <form action="##" method="POST">
                <div class="container">
                    <h2>Import Node <div><a class="add-btn" onclick="addImportNode(this)"><i
                                    class="css-icon-plus"></i></a></div>
                    </h2>
                    <ul class="responsive-table" id="import-node-body">
                        <li class="table-header">
                            <div class="col col-1">Node Name</div>
                            <div class="col col-2"> Action</div>
                        </li>

                    </ul>
                </div>


                <!-- <table id="import-node">
                    <thead>
                        <tr>
                            <th>Node Name</th>
                        </tr>
                    </thead>
                    <tbody id="import-node-body">

                    </tbody>
                </table> -->
                <!-- <input type="button" value="add" class="button blue bigrounded" onclick="addImportNode()"> -->

            </form>
            <!-- <input type="button" value="submit" class="button blue bigrounded" onclick="subImpNode()"> -->
            <div style="margin-left: 80%"><input type="button" value="Submit" class="button blue bigrounded"
                    onclick="subImpNode()"></div>
        </div>

        <script>
            function addImportNode() {
                let trObj = document.createElement("li");
                // alert(tbObj.innerHTML);
                trObj.id = new Date().getTime();
                trObj.innerHTML = '<div class="col col-1" data-label="node-name" ><input type="text" name="node-name"></div>\
                            <div class="col col-2" data-label="Action"><a class="del-btn" onclick="delImportNode(this)" ><i class="fa fa-trash"></i></a></div>';
                document.getElementById("import-node-body").appendChild(trObj);
            }

            function delImportNode(obj) {
                var trID = obj.parentNode.parentNode.id;
                var trObj = document.getElementById(trID);
                document.getElementById("import-node-body").removeChild(trObj);
            }

            function subImpNode() {
                // alert(1);
                var node_Objects = [];
                $('#import-node-body li').each(function (index, item) {
                    var $item = $(item);
                    node_Objects.push(
                        $item.find("div input[name='node-name']").val()
                    );
                    // alert(item.innerHTML);
                }
                );



                $.ajax({
                    type: "GET",
                    dataType: "json",
                    url: "/main/import",
                    data: {
                        'data': JSON.stringify(node_Objects.slice(1))
                    },
                    success: function (data) {

                        data['info'].forEach((item) => {
                            atomID = Math.max(atomID, Number(item['nodeID'])) + 1;
                            // alert(JSON.stringify(item));
                            var adddata = {
                                key: item['nodeID'],
                                ID: "ID:" + item['nodeID'],
                                category: item['nodeType'],
                            };
                            linkRecord[item['nodeID']] = new Array();

                            myDiagram.model.addNodeData(adddata);
                            part = myDiagram.findPartForData(adddata);  // must be same data reference, not a new {}
                            // set location to saved mouseDownPoint in ContextMenuTool
                            part.location = myDiagram.toolManager.contextMenuTool.mouseDownPoint;
                            let link = {
                                "from": item['nodeID'],
                                "to": item["NextState"],
                            };

                            var nodeStart = myDiagram.findNodeForKey(link["from"]);
                            var nodeEnd = myDiagram.findNodeForKey(link["to"]);

                            if (nodeEnd == null) {

                                let tmp = linkRecord[link['from']].indexOf(link['to']);
                                if (tmp == -1) {
                                    myModel.addLinkData(link);
                                    linkRecord[link['from']].push(link['to']);
                                }

                            }
                            else {
                                var res;
                                res = nodeStart.findLinksTo(nodeEnd);
                                if (res.count == 0) {
                                    myDiagram.model.addLinkData(link);
                                }
                            }

                        });



                    },
                });
            }
        </script>

    </div>

    <!-- form div -->
    <div id="base-form" class="basediv" style="position: absolute; left: 10%; min-height: 600px; min-width: 80%;">
        <form id="atom-form" method="POST">

            <div class="mdui-tab mdui-tab-full-width" mdui-tab>
                <a href="#tab0" class="mdui-ripple">Name</a>
                <a href="#tab1" class="mdui-ripple">Global Variable</a>
                <a href="#tab2" class="mdui-ripple">Local Variable</a>
                <a href="#tab4" class="mdui-ripple">Logic</a>

            </div>
            <div id="tab0">
                <label for="name">Name:</label>
                <input type="text" id="tab0name" />
            </div>
            <div id="tab1">
                <!-- <table id="table1">
                    <caption>Global Variable Table</caption>
                    <thead>
                        <tr>
                            <th>Variable</th>
                            <th>Value</th>
                        </tr>
                    </thead>
                    <tbody id="tb">
                        <tr id="#">
                            <td><input type="text" name="Variable" /></td>
                            <td><input type="text" name="Value" /></td>
                            <td><input type="button" value="delete" class="button blue bigrounded" onclick="Del1(this)">
                            </td>

                        </tr>
                    </tbody>


                </table> -->
                <div class="container">
                    <h2>Global Variable Table <div><a class="add-btn" onclick="Add1(this)"><i
                                    class="css-icon-plus"></i></a></div>
                    </h2>
                    <ul class="responsive-table" id="global-variable-ul">
                        <li class="table-header">
                            <div class="col col-1" name="Variable">Variable</div>
                            <div class="col col-2" name="Value"> Value</div>
                            <div class="col col-3"> Action</div>
                        </li>

                    </ul>

                </div>

            </div>
            <div id="tab2">
                <div class="container">
                    <h2>Local Variable Table <div><a class="add-btn" onclick="Add2(this)"><i
                                    class="css-icon-plus"></i></a></div>
                    </h2>
                    <ul class="responsive-table" id="local-variable-ul">
                        <li class="table-header">
                            <div class="col col-1" name="Variable">Variable</div>
                            <div class="col col-2" name="Value"> Value</div>
                            <div class="col col-3"> Action</div>
                        </li>

                    </ul>

                </div>

            </div>

            <div id="tab4">

                <div class="container">
                    <h2>Logic Table <div><a class="add-btn" onclick="Add4(this)"><i class="css-icon-plus"></i></a></div>
                    </h2>
                    <ul class="responsive-table" id="logic-ul">
                        <li class="table-header">
                            <div class="col col-1" name="Priority">Priority</div>
                            <div class="col col-2" name="Condition"> Condition</div>
                            <div class="col col-3" name="Operation"> Operation</div>
                            <div class="col col-4" name="NextState">NextState</div>
                            <div class="col col-5" name="Action">Output</div>
                            <div class="col col-6"> Action</div>
                        </li>

                    </ul>

                </div>




            </div>

            <div style="margin-left: 80%"><input type="button" value="Submit" class="button blue bigrounded"
                    onclick="sendData()"></div>
        </form>
    </div>


    <div id="popLayer"></div>

    <script type="text/javascript">
        function popBox() {
            var popBox = document.getElementById('base-form');
            var popLayer = document.getElementById('popLayer');

            popLayer.style.width = "100%";
            popLayer.style.height = "100%";

            popLayer.style.display = "block";
            popBox.style.display = "block";
        }//end func popBox()

        function closeBox() {
            var popBox = document.getElementById('base-form');
            var popLayer = document.getElementById('popLayer');

            popLayer.style.display = "none";
            popBox.style.display = "none";

        }//end func closeBox()

    </script>
    <!-- for tab button -->
    <script>
        function openDiv(evt, divName) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(divName).style.display = "block";
            evt.currentTarget.className += " active";
        }
        // Get the element with id="defaultOpen" and click on it
        document.getElementById("defaultOpen").click();
    </script>




    <script>
        var $$ = go.GraphObject.make;
        var myDiagram =
            $$(go.Diagram, "diagram",
                {
                    "undoManager.isEnabled": true,
                    allowRelink: false,

                });

        var myModel = $$(go.GraphLinksModel);


        myDiagram.linkTemplate =
            $$(go.Link,
                {
                    routing: go.Link.AvoidsNodes,
                    curve: go.Link.Bezier
                },  // link route should avoid nodes
                $$(go.Shape),
                $$(go.Shape, { toArrow: "Standard" })
            );

        // helper definitions for node templates
        function nodeStyle() {
            return [
                // The Node.location comes from the "loc" property of the node data,
                // converted by the Point.parse static method.
                // If the Node.location is changed, it updates the "loc" property of the node data,
                // converting back using the Point.stringify static method.
                new go.Binding("location", "loc", go.Point.parse).makeTwoWay(go.Point.stringify),
                {
                    // the Node.location is at the center of each node
                    locationSpot: go.Spot.Center
                }
            ];
        }


        function textStyle() {
            return {
                font: "bold 11pt Helvetica, Arial, sans-serif",
                stroke: "whitesmoke"
            }
        }



        function editStart(e, obj) {
            myDiagram.commit(function (d) {
                // get the context menu that holds the button that was clicked
                var contextmenu = obj.part;
                // get the node data to which the Node is data bound
                var nodedata = contextmenu.data;
                curNode = nodedata.key;
                curNodeType = nodedata.category;
                // alert(curNode);
                // document.getElementById("base-form").style.display = "block";
                popBox();
                // send request to search on the database
                $.ajax({
                    type: "POST",
                    dataType: "json",
                    url: "database/search",
                    data: {},
                    success: function (result) {
                        console.log(result);
                        if (result.resultCode == 200) {
                            alert("SUCCESS");
                        }
                        ;
                    },
                });

                // get the result from the database
                $.ajax({
                    type: "GET",
                    dataType: "json",
                    url: "database/search",
                    data: { "nodeID": curNode },
                    dataType: 'json',
                    success: function (data) {
                        makeNode(data);
                    },
                });



            }, "Edit");
        }

        function makeNode(data) {
            let data1 = data['global'];
            let data2 = data['local'];
            let data4 = data['logic'];

            let ele1 = document.getElementById('global-variable-ul');
            let ele2 = document.getElementById('local-variable-ul');
            let ele4 = document.getElementById('logic-ul');

            ele1.innerHTML = '<li class="table-header">\
                            <div class="col col-1" name="Variable">Variable</div>\
                            <div class="col col-2" name="Value"> Value</div>\
                            <div class="col col-3"> Action</div>\
                        </li>';
            ele2.innerHTML = '<li class="table-header">\
                                    <div class="col col-1" name="Variable">Variable</div>\
                                    <div class="col col-2" name="Value"> Value</div>\
                                    <div class="col col-3"> Action</div>\
                                </li>';
            ele4.innerHTML = ' <li class="table-header">\
                                    <div class="col col-1" name="Priority">Priority</div>\
                                    <div class="col col-2" name="Condition"> Condition</div>\
                                    <div class="col col-3" name="Operation"> Operation</div>\
                                    <div class="col col-4" name="NextState">NextState</div>\
                                    <div class="col col-5" name="Action">Output</div>\
                                    <div class="col col-6"> Action</div>\
                                </li>';
            if ('name' in data) {
                document.getElementById('tab0name').value = data['name'];
            }
            else document.getElementById('tab0name').value = "";

            for (var i = 0; i < data1.length; i++) {
                let id = new Date().getTime() + 1 + i;
                let item = data1[i];
                ele1.innerHTML += '<li class="table-row" ' + 'id="' + id + '">\
                            <div class="col col-1" data-label="Variable" ><input type="text" name="Variable" value="' + item['Variable'] + '"></div>\
                            <div class="col col-2" data-label="Value" ><input type="text" name="Value" value="' + item['Value'] + '"></div>\
                            <div class="col col-3" data-label="Action"><a class="del-btn" onclick="Del1(this)" ><i class="fa fa-trash"></i></a></div>\
                        </li>';
            }

            for (var i = 0; i < data2.length; i++) {
                let id = new Date().getTime() + 2 + i;
                let item = data2[i];
                ele2.innerHTML += '<li class="table-row" ' + 'id="' + id + '">\
                            <div class="col col-1" data-label="Variable" ><input type="text" name="Variable" value="' + item['Variable'] + '"></div>\
                            <div class="col col-2" data-label="Value" ><input type="text" name="Value" value="' + item['Value'] + '"></div>\
                            <div class="col col-3" data-label="Action"><a class="del-btn" onclick="Del2(this)" ><i class="fa fa-trash"></i></a></div>\
                        </li>';
            }



            for (var i = 0; i < data4.length; i++) {
                let id = new Date().getTime() + 3 + i;
                let item = data4[i];
                ele4.innerHTML += '<li class="table-row" ' + 'id="' + id + '">\
                                    <div class="col col-1" data-label="Priority" ><input type="text" name="Priority" value="' + item['Priority'] + '"></div>\
                                    <div class="col col-2" data-label="Condition" > <textarea name="Condition">'+ item['Condition'] + '</textarea></div>\
                                    <div class="col col-3" data-label="Operation" > <textarea name="Operation">'+ item['Operation'] + '</textarea></div>\
                                    <div class="col col-4" data-label="NextState" ><input type="text" name="NextState" value="'+ item['NextState'] + '"></div>\
                                    <div class="col col-5" data-label="Action" ><textarea name="Action">'+ item['Action'] + '</textarea></div>\
                                    <div class="col col-6" data-label="action"> <a class="del-btn" onclick="Del4(this)" ><i class="fa fa-trash"></i></a></div>\
                                </li>';
            }
        }


        // start node
        myDiagram.nodeTemplateMap.add("Start",
            $$(go.Node, "Table", nodeStyle(),
                $$(go.Panel, "Auto",
                    $$(go.Shape, "Circle",
                        { minSize: new go.Size(40, 40), fill: "#79C900", strokeWidth: 0 }),
                    $$(go.Panel, "Vertical",
                        $$(go.TextBlock, "Start", textStyle(),
                            new go.Binding("text", "type")),
                        $$(go.TextBlock, "0", textStyle(),
                            new go.Binding("text", "ID")),
                    ),


                ),
                {
                    contextMenu:     // define a context menu for each node
                        $$("ContextMenu",  // that has one button
                            $$("ContextMenuButton",
                                $$(go.TextBlock, "Edit"),
                                { click: editStart })
                            // more ContextMenuButtons would go here
                        )  // end Adornment
                }

            ));


        // end node
        myDiagram.nodeTemplateMap.add("End",
            $$(go.Node, "Table", nodeStyle(),
                $$(go.Panel, "Auto",
                    $$(go.Shape, "Circle",
                        { minSize: new go.Size(40, 40), fill: "#DC3C00", strokeWidth: 0 }),
                    $$(go.Panel, "Vertical",
                        $$(go.TextBlock, "End", textStyle(),
                            new go.Binding("text", "type")),
                        $$(go.TextBlock, "0", textStyle(),
                            new go.Binding("text", "ID")),
                    ),
                ),
                // {
                //     contextMenu:     // define a context menu for each node
                //         $$("ContextMenu",  // that has one button
                //             $$("ContextMenuButton",
                //                 $$(go.TextBlock, "Edit"),
                //                 { click: editStart })
                //             // more ContextMenuButtons would go here
                //         )  // end Adornment
                // }
            ));



        // slot node

        myDiagram.nodeTemplateMap.add("Slot",
            $$(go.Node, "Table", nodeStyle(),
                // the main object is a Panel that surrounds a TextBlock with a rectangular Shape
                $$(go.Panel, "Auto",
                    $$(go.Shape, "Diamond",
                        { fill: "#00A9C9", strokeWidth: 0 },
                        new go.Binding("figure", "figure")),
                    $$(go.Panel, "Vertical",
                        $$(go.TextBlock, "Slot", textStyle(),
                            {
                                margin: 8,
                                maxSize: new go.Size(160, NaN),
                                wrap: go.TextBlock.WrapFit,
                                editable: true
                            },
                            new go.Binding("text", "type").makeTwoWay()),
                        $$(go.TextBlock, "0", textStyle(),
                            new go.Binding("text", "ID")),
                    )
                ),
                {
                    contextMenu:     // define a context menu for each node
                        $$("ContextMenu",  // that has one button
                            $$("ContextMenuButton",
                                $$(go.TextBlock, "Edit"),
                                { click: editStart })
                            // more ContextMenuButtons would go here
                        )  // end Adornment
                }
            ));

        // general node
        myDiagram.nodeTemplateMap.add("General",
            $$(go.Node, "Table", nodeStyle(),
                // the main object is a Panel that surrounds a TextBlock with a rectangular Shape
                $$(go.Panel, "Auto",
                    $$(go.Shape, "Rectangle",
                        { fill: "#00A9C9", strokeWidth: 0 },
                        new go.Binding("figure", "figure")),
                    $$(go.Panel, "Vertical",
                        $$(go.TextBlock, "General", textStyle(),
                            {
                                margin: 8,
                                maxSize: new go.Size(160, NaN),
                                wrap: go.TextBlock.WrapFit,
                                editable: true
                            },
                            new go.Binding("text", "type").makeTwoWay()),
                        $$(go.TextBlock, "0", textStyle(),
                            new go.Binding("text", "ID")),
                    )
                ),
                {
                    contextMenu:     // define a context menu for each node
                        $$("ContextMenu",  // that has one button
                            $$("ContextMenuButton",
                                $$(go.TextBlock, "Edit"),
                                { click: editStart })
                            // more ContextMenuButtons would go here
                        )  // end Adornment
                }
            ));



        var atomID = 0;
        // return type node
        function nodeType(type) {
            return function (e, obj) {
                e.diagram.commit(function (d) {
                    var data = {
                        key: String(atomID),
                        ID: "ID:" + String(atomID),
                        category: type,
                    };
                    linkRecord[String(atomID)] = new Array();
                    atomID++;
                    d.model.addNodeData(data);
                    part = d.findPartForData(data);  // must be same data reference, not a new {}
                    // set location to saved mouseDownPoint in ContextMenuTool
                    part.location = d.toolManager.contextMenuTool.mouseDownPoint;

                }, 'new node');
            }
        }

        // define a context menu for the diagram's background
        myDiagram.contextMenu =
            $$("ContextMenu",
                // no binding, always visible button:
                $$("ContextMenuButton",
                    $$(go.TextBlock, "Start"),
                    {
                        click: nodeType("Start")
                    }),
                $$("ContextMenuButton",
                    $$(go.TextBlock, "End"),
                    {
                        click: nodeType("End")
                    }),
                $$("ContextMenuButton",
                    $$(go.TextBlock, "General"),
                    {
                        click: nodeType("General")
                    }),
                $$("ContextMenuButton",
                    $$(go.TextBlock, "Slot"),
                    {
                        click: nodeType("Slot")
                    }),

            );
        var curNode;
        var curNodeType;
        var linkRecord = {};
        // in the model data, each node is represented by a JavaScript object:
        // myModel.nodeDataArray =
        //     [ // note that each node data object holds whatever properties it needs;
        //         // for this app we add the "name" and "source" properties
        //         { key: "0", ID: "ID:0", type: "Start", category: "Start" },
        //         { key: "1", ID: "ID:1", type: "End", category: "End" },
        //         { key: "2", ID: "ID:2", type: "Slot", category: "Slot" },
        //         { key: "3", ID: "ID:3", type: "General", category: "General" },

        //     ];



        myDiagram.model = myModel;

    </script>












    <script>
        function Del1(obj) {
            var trID = obj.parentNode.parentNode.id;
            var trObj = document.getElementById(trID);
            document.getElementById("global-variable-ul").removeChild(trObj);
        }


        function Add1() {
            var trObj = document.createElement("li");
            trObj.id = new Date().getTime();
            // alert(ulObj.innerHTML);
            trObj.innerHTML = '<div class="col col-1" data-label="Variable" ><input type="text" name="Variable"></div>\
                            <div class="col col-2" data-label="Value" ><input type="text" name="Value"></div>\
                            <div class="col col-3" data-label="Action"><a class="del-btn" onclick="Del1(this)" ><i class="fa fa-trash"></i></a></div>';
            document.getElementById("global-variable-ul").appendChild(trObj);
        }

        function Del2(obj) {
            var trID = obj.parentNode.parentNode.id;
            var trObj = document.getElementById(trID);
            document.getElementById("local-variable-ul").removeChild(trObj);
        }


        function Add2() {
            var trObj = document.createElement("li");
            trObj.id = new Date().getTime();
            trObj.innerHTML = '<div class="col col-1" data-label="Variable" ><input type="text" name="Variable"></div>\
                            <div class="col col-2" data-label="Value" ><input type="text" name="Value"></div>\
                            <div class="col col-3" data-label="Action"><a class="del-btn" onclick="Del2(this)" ><i class="fa fa-trash"></i></a></div>';
            document.getElementById("local-variable-ul").appendChild(trObj);
        }


        function Del4(obj) {
            var trID = obj.parentNode.parentNode.id;
            var trObj = document.getElementById(trID);
            document.getElementById("logic-ul").removeChild(trObj);
        }


        function Add4() {
            var trObj = document.createElement("li");
            trObj.id = new Date().getTime();
            trObj.innerHTML = '<div class="col col-1" data-label="Priority" ><input type="text" name="Priority"></div>\
                                    <div class="col col-2" data-label="Condition" > <textarea name="Condition"></textarea></div>\
                                    <div class="col col-3" data-label="Operation" > <textarea name="Operation"></textarea></div>\
                                    <div class="col col-4" data-label="NextState" ><input type="text" name="NextState"></div>\
                                    <div class="col col-5" data-label="Action" ><textarea name="Action"></textarea></div>\
                                    <div class="col col-6" data-label="action"> <a class="del-btn" onclick="Del4(this)" ><i class="fa fa-trash"></i></a></div>';
            document.getElementById("logic-ul").appendChild(trObj);
        }

        function sendData() {
            closeBox();

            let curName;

            curName = document.getElementById("tab0name").value;


            var tab1_Objects = [];
            $('#global-variable-ul li.table-row').each(function (index, item) {
                var $item = $(item);
                tab1_Objects.push({
                    Variable: $item.find("div input[name='Variable']").val(),
                    Value: $item.find("div input[name='Value']").val(),
                });
            }
            );

            var tab2_Objects = [];
            $('#local-variable-ul li.table-row').each(function (index, item) {
                let $item = $(item);
                tab2_Objects.push({
                    Variable: $item.find("div input[name='Variable']").val(),
                    Value: $item.find("div input[name='Value']").val(),
                });

            }
            );


            var tab4_Objects = [];
            $('#logic-ul li.table-row').each(function (index, item) {
                let $item = $(item);
                tab4_Objects.push({
                    Priority: $item.find("div input[name='Priority']").val(),
                    Condition: $item.find("div textarea[name='Condition']").val(),
                    Operation: $item.find("div textarea[name='Operation']").val(),
                    NextState: $item.find("div input[name='NextState']").val(),
                    Action: $item.find("div textarea[name='Action']").val(),
                });
            }
            );

            $.ajax({
                type: "POST",
                dataType: "json",
                url: "main/form",
                data: {
                    'data': JSON.stringify({
                        'nodeID': curNode,
                        'Name': curName,
                        'nodeType': curNodeType,
                        'global': tab1_Objects,
                        'local': tab2_Objects,
                        'logic': tab4_Objects
                    })
                },
                success: function (result) {
                    console.log(result);
                    if (result.resultCode == 200) {
                        alert("SUCCESS");
                    }
                    ;
                },
            });
            document.getElementById('base-form').style.display = 'none';

            tab4_Objects.forEach(function (item) {
                let link = {
                    "from": curNode,
                    "to": item["NextState"],
                };

                var nodeStart = myDiagram.findNodeForKey(link["from"]);
                var nodeEnd = myDiagram.findNodeForKey(link["to"]);

                if (nodeEnd == null) {

                    let tmp = linkRecord[link['from']].indexOf(link['to']);
                    if (tmp == -1) {
                        myModel.addLinkData(link);
                        linkRecord[link['from']].push(link['to']);
                    }

                }
                else {
                    var res;
                    res = nodeStart.findLinksTo(nodeEnd);
                    if (res.count == 0) {
                        myDiagram.model.addLinkData(link);
                    }
                }
                // myDiagram.startTransaction("make new link");
                // myDiagram.model.addLinkData(link);
                // myDiagram.commitTransaction("make new link");

            });

        }
    </script>





</body>

</html>